In [1]:
%pylab inline
import pandas as pd
import numpy as np
from matplotlib import pyplot

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_pickle('../data/kal_returnsDF.pkl')

In [6]:
symbolsDF = pd.read_pickle('../data/symbolsDF.pkl')
start, end = '2007-05-02', '2016-04-11'                        #variable here
datadir_name = '_'.join(('data', start, end))
datadir_path = ''.join(('../data/', datadir_name))

In [4]:
def get_returns(symbol, return_col = 'returns'):
    df = pd.read_pickle(''.join((datadir_path, '/', symbol, '.pkl')))
    if return_col not in symbolsDF.columns:
        df['daily_rets'] = (df['Adj Close'].shift(-1) - df['Adj Close']) / df['Adj Close']
        #df[return_col]= np.cumprod(df['daily_rets']*df.test +1)
        df[return_col]= df['daily_rets']*df.test
        df.to_pickle(''.join((datadir_path, '/', symbol, '.pkl')))
    return df

In [7]:
df = get_returns('GS')

In [8]:
df.head()

,Open,High,Low,Close,Volume,Adj Close,smooth_predict_100,smooth_slope_100,resids,test,...,kalman_a,kalman_b,kalman_c,kalman_d,test_kal,kal_returns,kal_pos,change_sign,max_,min_
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-02,218.000000,221.919998,217.449997,219.490005,4859500,197.556542,NaN,NaN,-2.443458,0,...,1000.000000,500.000000,500.000000,500.000000,-1,0.000000,0,False,-2.443458,-2.443458
2007-05-03,220.389999,221.929993,218.550003,221.559998,4414600,199.419681,NaN,NaN,-29.556281,0,...,269.936770,256.645590,256.645590,252.215197,-1,0.000000,0,False,-2.443458,-29.556281
2007-05-04,222.600006,227.339996,221.429993,227.339996,5632300,204.622089,NaN,NaN,-19.899185,0,...,33.302782,20.437845,20.437845,14.167735,-1,0.000528,-1,False,-2.443458,-29.556281
2007-05-07,227.000000,229.899994,225.600006,227.220001,4637000,204.514085,NaN,NaN,-26.144345,0,...,24.341851,10.264385,10.264385,4.910650,-1,0.009990,-1,False,-2.443458,-29.556281
2007-05-08,225.919998,225.990005,222.960007,224.949997,4879700,202.470921,NaN,NaN,-28.632155,0,...,13.426530,4.392034,4.392034,1.712357,-1,-0.007202,-1,False,-2.443458,-29.556281

In [20]:
sum((df.kal_pos + df.test_kal)==-2)

715

In [23]:
sum((df.test_kal)==-2)

0